{%- if settings.logo_header -%}
<a href="{{ shop.url }}" class="theme-header-logo">
  {{ settings.logo_header.src | image_url: width: 500 | image_tag:
    loading: 'lazy',
    width: settings.logo_header.width,
    height: settings.logo_header.height,
    class: "img-fluid",
    alt: settings.logo_header.alt | escape }}
</a>
{%- else -%}
<a href="{{ shop.url }}" class="shop-header-name">
  <span>{{ shop.name }}</span>
</a>
{%- endif -%}
<style>
  /* logo css */
  a.theme-header-logo {
    display: block;
  }
  a.theme-header-logo img {
    width: {{ settings.logo_header_max_width }}px;
  }

  /* store css */
  a.shop-header-name {
    display: block;
  }
  a.shop-header-name span {
    color: var(--font-color-secondary);
    font-size: 18px;
    font-weight: var(--sti-font-weight);
  }
</style>