<section class="customer-page section-ptb">
  <div class="container">
    <div class="row">
      <div class="col">
          <div class="log-acc-page">
            <div class="acc-page">
              <div class="section-capture">
                <div class="section-title">
                  <h2>{{ 'customer.reset_password.title' | t }}</h2>
                  <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
                </div>
              </div>
              {% form 'reset_customer_password' %}
              {{ form.errors | default_errors }}
              <ul class="fill-form">
                <li class="fname">
                  <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
                  <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
                </li>
                <li class="lname">
                  <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                  <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
                </li>
              </ul>
              <div class="form-action-button">
                <button type="submit" class="btn-style">{{ 'customer.reset_password.submit' | t }}</button>
              </div>
            {% endform %}
          </div>
      </div>
    </div>
  </div>
</section>
<style>
  .customer-page .log-acc-page{
    width: 50%;
    margin: 0 auto;
  }
  .customer-page .log-acc-page .acc-page{
    width: 100%;
    height: 100%;
    padding: 60px;
    background-color: var(--extra-color-body);
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--sti-border-radius);
  }
  .customer-page .log-acc-page .acc-page form{
    width: 100%;
  }
  .customer-page .section-title p {
    margin-top: 15px;
  }
  @media(max-width: 1199px){
    .customer-page .log-acc-page .acc-page{
      padding: 30px;
    }
  }
  @media(max-width: 767px){
    .customer-page .log-acc-page{
      width: 100%;
    }
    .customer-page .log-acc-page .acc-page{
      padding: 15px;
    }
  }

  /* form css */
  .customer-page .log-acc-page p{
    max-width: 100%;
  }
  .customer-page .log-acc-page ul.fill-form li{
    margin-top: 15px;
  }
  .customer-page .log-acc-page ul.fill-form li:first-child{
    margin-top: 0px;
  }
  .customer-page .log-acc-page ul.fill-form li label{
    display: block;
    margin-bottom: 10px;
    cursor: auto;
    line-height: 1;
  }
  .customer-page .log-acc-page input{
    width: 100%;
    background-color: #ffffff;
  }
  .customer-page .log-acc-page .form-action-button{
    margin-top: 50px;
    text-align: center;
  }
  .customer-page .log-acc-page .form-action-button a{
    display: block;
    color: #999;
    margin-top: 15px;
    text-decoration: underline;
    line-height: 1;
  }
  .customer-page .log-acc-page .form-action-button a:hover{
    color: var(--font-color-primary);
  }
  .customer-page .log-acc-page .acc-wrapper{
    margin-top: 25px;
    text-align: center;
  }
  .customer-page .log-acc-page .acc-wrapper h6{
    font-size: 18px;
    font-weight: var(--font-custom-weight-header);
  }
  .customer-page .log-acc-page .acc-wrapper .account-optional-action{
    margin-top: 11px;
  }
  @media (max-width: 1199px){
    .customer-page .log-acc-page .form-action-button{
      margin-top: 40px;
    }
  }
  @media (max-width: 767px){
    .customer-page .log-acc-page .form-action-button{
      margin-top: 20px;
    }
  }

  /* acc-link css */
  .customer-page .log-acc-page .acc-wrapper{
    margin-top: 25px;
    text-align: center;
  }
  .customer-page .log-acc-page .acc-wrapper h6{
    font-size: 18px;
    font-weight: var(--font-custom-weight-header);
  }
  .customer-page .log-acc-page .acc-wrapper .account-optional-action{
    margin-top: 11px;
  }
  .customer-page .log-acc-page .acc-wrapper .account-optional-action a{
    color: var(--font-color-primary);
    text-decoration: underline;
  }

  /* error css */
  .customer-page .log-acc-page .errors{
    padding: 10px 15px;
    {% if settings.enable_rtl %}
    text-align: right;
    {% else %}
    text-align: left;
    {% endif %}
  }
  .customer-page .log-acc-page .errors ul{
    {% if settings.enable_rtl %}
    margin-right: 15px;
    margin-left: 0;
    {% else %}
    margin-left: 15px;
    {% endif %}
    list-style: square;
  }
  .customer-page .log-acc-page .errors ul li{
    margin-top: 5px;
  }
  .customer-page .log-acc-page .errors ul li:first-child{
    margin-top: 0px;
  }
</style>