<!DOCTYPE html>
<html class="no-js supports-no-cookies{% if settings.enable_box %} box-layout{% endif %}" lang="{{ shop.locale }}">
  <head>
    <!-- Basic and Helper page needs -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="var(--font-color-primary)">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: '32x32' }}" type="image/png" />
    {%- endif -%}

    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
    {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
    <title>{{ 'gift_cards.issued.title_html' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {%- render 'header-css' -%}

    {{ 'gift-card.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script>
    <script src="{{ 'gift-card.js' | asset_url }}" defer="defer"></script>
    <script type="text/javascript">
      var theme = {
        strings: {
          qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }}
        }
      };
    </script>
    {{ content_for_header }}
    <!-- JS -->
    {%- render 'header-js' -%}
  </head>
  <body class="template-giftcard">
    {{ content_for_layout }}
    <ul class="visually-hidden d-none" aria-hidden="true">
      <li id="a11y-new-window-message">{{ 'general.accessibility.link_messages.new_window' | t }}</li>
      <li id="a11y-external-message">{{ 'general.accessibility.link_messages.external' | t }}</li>
      <li id="a11y-new-window-external-message">{{ 'general.accessibility.link_messages.new_window_and_external' | t }}</li>
    </ul>
  </body>
</html>
