<!doctype html>
  <html class="no-js supports-no-cookies{% if settings.enable_box %} box-layout{% endif %} mini2" lang="{{ shop.locale }}">
  <head>
    <!-- Basic and Helper page needs -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="var(--font-color-primary)">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- unless settings.body_custom_font_handle_enable and settings.header_custom_font_handle_enable and settings.section_header_custom_font_handle_enable and settings.paragraph_custom_font_handle_enable and settings.other_custom_font_handle_enable -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- liquid
    unless settings.body_custom_font_handle_enable
        assign body_font = settings.body_font_handle
        assign body_font_bolder = body_font | font_modify: 'weight', 'bolder'
        assign body_font_bold = body_font | font_modify: 'weight', 'bold'
        assign body_font_italic = body_font | font_modify: 'style', 'italic'
        assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    endunless
    
    unless settings.header_custom_font_handle_enable
        assign header_font = settings.header_font_handle
    endunless
    
    unless settings.section_header_custom_font_handle_enable
        assign section_header_font = settings.section_header_font_handle
    endunless
    
    unless settings.paragraph_custom_font_handle_enable
        assign paragraph_font = settings.paragraph_font_handle
    endunless
    
    unless settings.other_custom_font_handle_enable
        assign other_font = settings.other_font_handle
    endunless
    -%}

    <!-- CSS -->
    {%- if canonical_url != blank -%}
    <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url }}" type="image/png" />
    {%- endif -%}

    <!-- Title and description -->
    {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
    {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
    &ndash; {{ shop.name }}
    {% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    
    <!-- Helpers -->
    {% render 'social-meta-tags' %}

    <!-- CSS -->
    <style>
    {% if settings.header_custom_font_handle_enable %}
    @import url('https://fonts.googleapis.com/css2?family={{ settings.header_custom_font_handle }}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    {% else %}
    {{ header_font | font_face: font_display: 'swap' }}
    {% endif %}
    
    {% if settings.section_header_custom_font_handle_enable %}
    @import url('https://fonts.googleapis.com/css2?family={{ settings.section_header_custom_font_handle }}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    {% else %}
    {{ section_header_font | font_face: font_display: 'swap' }}
    {% endif %}
    
    {% if settings.paragraph_custom_font_handle_enable %}
    @import url('https://fonts.googleapis.com/css2?family={{ settings.paragraph_custom_font_handle }}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    {% else %}
    {{ paragraph_font | font_face: font_display: 'swap' }}
    {% endif %}
    
    {% if settings.other_custom_font_handle_enable %}
    @import url('https://fonts.googleapis.com/css2?family={{ settings.other_custom_font_handle }}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    {% else %}
    {{ other_font | font_face: font_display: 'swap' }}
    {% endif %}
    
    {% if settings.body_custom_font_handle_enable %}
    @import url('https://fonts.googleapis.com/css2?family={{ settings.body_custom_font_handle }}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    {% else %}
    {{ body_font | font_face: font_display: 'swap' }}
    {{ body_font_bolder | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {% endif %}
    
    {%- liquid
    unless settings.header_custom_font_handle_enable
      assign header_font = settings.header_font_handle
      endunless 
    -%}
      
    {%- liquid
      unless settings.section_header_custom_font_handle_enable
        assign section_header_font = settings.section_header_font_handle
      endunless
    -%}
    
    {%- liquid
      unless settings.paragraph_custom_font_handle_enable
      assign paragraph_font = settings.paragraph_font_handle
      endunless
    -%}
    
    {%- liquid
      unless settings.other_custom_font_handle_enable
        assign other_font = settings.other_font_handle
      endunless
    -%}
    
    {%- liquid
      unless settings.body_custom_font_handle_enable
        assign body_font = settings.body_font_handle
        assign body_font_bolder = body_font | font_modify: 'weight', 'bolder'
        assign body_font_bold = body_font | font_modify: 'weight', 'bold'
        assign body_font_italic = body_font | font_modify: 'style', 'italic'
        assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      endunless
    -%}
    </style>
    {%- render 'header-css' -%}
    {%- render 'css-variables' -%}
    <style>
      {%- liquid 
        unless settings.header_custom_font_handle_enable
          echo header_font | font_face: font_display: 'swap'
        endunless
      -%}

      {% unless settings.section_header_custom_font_handle_enable %}
      {{ section_header_font | font_face: font_display: 'swap' }}
      {% endunless %}

      {% unless settings.paragraph_custom_font_handle_enable %}
      {{ paragraph_font | font_face: font_display: 'swap' }}
      {% endunless %}

      {% unless settings.other_custom_font_handle_enable %}
      {{ other_font | font_face: font_display: 'swap' }}
      {% endunless %}

      {% unless settings.body_custom_font_handle_enable %}
      {{ body_font | font_face: font_display: 'swap' }}
      {{ body_font_bolder | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {% endunless %}
      :root {
        --font-weight-body--bold: {{ body_font_bold.weight | default: 700 }};
        --font-weight-body--bolder: {{ body_font_bolder.weight | default: 700 }};
      
        --font-color-body: {{ settings.body_text_color }};
        --font-size-body: {{ settings.body_font_size }}px;
        --background-color-body: {{ settings.body_bgcolor }};
        --extra-color-body: {{ settings.extra_bgcolor }};
        {% if settings.body_custom_font_handle_enable %}
        --font-custom-stack-body: '{{ settings.body_custom_font_handle }}', sans-serif;
        --font-custom-weight-body: {{ settings.body_custom_font_weight }};
        --font-custom-style-body: {{ settings.body_custom_font_style }};
        {% else %}
        --font-stack-body: {{ body_font.family }}, {{ body_font.fallback_families }};
        --font-weight-body: {{ body_font.weight }};
        --font-style-body: {{ body_font.style }};
        {% endif %}
        --font-letter-spacing-body: {{ settings.body_letter_spacing }}px;
      
        --font-color-header: {{ settings.heading_text_color }};
        {% if settings.header_custom_font_handle_enable %}
        --font-custom-stack-header: '{{ settings.header_custom_font_handle }}', sans-serif;
        --font-custom-weight-header: {{ settings.header_custom_font_weight }};
        --font-custom-style-header: {{ settings.header_custom_font_style }};
        {% else %}
        --font-stack-header: {{ header_font.family }}, {{ header_font.fallback_families }};
        --font-weight-header: {{ header_font.weight }};
        --font-style-header: {{ header_font.style }};
        {% endif %}
      
        --font-color-section-header: {{ settings.section_heading_text_color }};
        {% if settings.section_header_custom_font_handle_enable %}
        --font-custom-stack-section-header: '{{ settings.section_header_custom_font_handle }}', sans-serif;
        --font-custom-weight-section-header:{{ settings.section_header_custom_font_weight }};
        --font-custom-style-section-header: {{ settings.section_header_custom_font_style }};
        {% else %}
        --font-stack-section-header: {{ section_header_font.family }}, {{ section_header_font.fallback_families }};
        --font-weight-section-header: {{ section_header_font.weight }};
        --font-style-section-header: {{ section_header_font.style }};
        {% endif %}
        --font-text-section-header: {{ settings.section_header_text_transform }};
      
        --font-color-paragraph: {{ settings.para_text_color }};
        {% if settings.paragraph_custom_font_handle_enable %}
        --font-custom-stack-paragraph: '{{ settings.paragraph_custom_font_handle }}', sans-serif;
        --font-custom-weight-paragraph: {{ settings.paragraph_custom_font_weight }};
        --font-custom-style-paragraph: {{ settings.paragraph_custom_font_style }};
        {% else %}
        --font-stack-paragraph: {{ paragraph_font.family }}, {{ paragraph_font.fallback_families }};
        {% endif %}
        --font-line-height-paragraph: {{ settings.paragraph_font_line_height }}px;
      
        {% if settings.other_custom_font_handle_enable %}
        --font-custom-stack-other: '{{ settings.other_custom_font_handle }}', sans-serif;
        {% else %}
        --font-stack-other: {{ other_font.family }}, {{ other_font.fallback_families }};
        {% endif %}
      
        --font-color-primary: {{ settings.color_primary }};
        --font-color-secondary: {{ settings.color_secondary }};
        --theme-border-color: {{ settings.theme_border_color | color_modify: 'alpha', settings.theme_border_color_opacity }};
      
        --sti-color: {{ settings.tag_color }};
        --sti-font-size: {{ settings.tag_font_size }}px;
        --sti-bgcolor: {{ settings.tag_bgcolor }};
        --sti-text: {{ settings.tag_text_transform }};
        --sti-font-weight: {{ settings.tag_font_weight }};
        --sti-border: 1px solid {{ settings.tag_border_color | color_modify: 'alpha', settings.tag_border_color_opacity }};
        --sti-border-radius: {{ settings.tag_border_radius }}px;
      
        --box-body-bgcolor: {{ settings.box_body_bgcolor }};
      }
    </style>

    {{ 'password.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>

    <!-- Header hook for plugins -->
    {{ content_for_header }}
    <!-- JS -->
    {%- render 'header-js' -%}

    {% if template contains 'customers' or 'cart' %}
    <script type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {% endif %}
  </head>
  <body class="template-password">
    <div class="password-page">
      <div class="password-login">
        <a href="#LoginModal" data-bs-toggle="modal">{{ 'general.password_page.password_link' | t }}</a>
      </div>
      <div class="password-main">
        {{ content_for_layout }}
      </div>
      <div class="modal fade" id="LoginModal">
        <button type="button" class="close" data-bs-dismiss="modal">
          <span class="close-icon"><i class="feather-x"></i></span>
          <span class="close-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="modal-password">
                <h2>{{ 'general.password_page.login_form_heading' | t }}</h2>
                {% form 'storefront_password', class: 'form-single-field' %}
                {%- assign formId = 'PasswordLoginForm' -%}
                <div class="sti-input {% if form.errors %}sti-input--error{% endif %}">
                  <label id="PasswordLabel" for="Password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
                  <input type="password" name="password" id="Password" lass="sti-input__field input--content-color {% if form.errors %}input--error{% endif %}" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" data-login-field autocomplete="off" aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}" {% if form.errors %} data-error="password" aria-invalid="true" {%- endif -%}>
                  <button type="submit" name="commit" class="news-sub">{{ 'general.password_page.login_form_submit' | t }}</button>
                </div>
                {%- if form.errors -%}
                <p id="{{ formId }}-password-error" class="input-error-message text-danger">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  <span class="visually-error"><i class="bi bi-exclamation-triangle-fill"></i></span>
                  <span class="visually-blank">{{ form.errors.messages['form'] }}</span>
                </p>
                {%- endif -%}
                {% endform %}
                <p class="owner-text">{{ 'general.password_page.admin_link_html' | t }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      .password-page .password-login {
        position: absolute;
        top: 30px;
        {% if settings.enable_rtl %}
        left: 30px;
        {% else %}
        right: 30px;
        {% endif %}
      }
      .password-page .password-login a {
        color: var(--font-color-body);
        padding: 12px 30px;
        background-color: #FFFFFF;
        text-transform: uppercase;
        border-radius: var(--sti-border-radius);
        border: 1px solid {{ settings.tag_border_color }};
        -webkit-transition: all 0s ease-in-out 0s;
        -o-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s;
      }
      .password-page .password-login a:hover {
        color: var(--font-color-header);
      }
      @media (max-width: 479px) {
        .password-page .password-login {
          position: unset;
          margin-bottom: 30px;
        }
      }

      /* password-main css */
      .password-page .password-main {
        min-width: 40%;
      }
      @media (max-width: 1199px) {
        .password-page .password-main {
          min-width: 65%;
        }
      }
      @media (max-width: 991px) {
        .password-page .password-main {
          min-width: 90%;
        }
      }
      @media (max-width: 767px) {
        .password-page .password-main {
          min-width: 100%;
        }
      }


      /* modal-password css */
      .password-page .modal {
        background-color: #FFFFFF;
      }
      .password-page .modal.fade {
        transition: opacity 0s linear;
      }
      .password-page .modal button.close {
        float: none;
        color: var(--font-color-body);
        font-size: 17px;
        position: absolute;
        top: 30px;
        {% if settings.enable_rtl %}
        left: 30px;
        {% else %}
        right: 30px;
        {% endif %}
        opacity: 1;
        z-index: 1;
        -webkit-transition: all 0s ease-in-out 0s;
        -o-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s;
      }
      .password-page .modal button.close:hover {
        color: var(--font-color-header);
      }
      .password-page .modal button.close span.close-icon {
        display: block;
        line-height: 0;
      }
      .password-page .modal button.close span.close-icon i {
        font-weight: var(--sti-font-weight);
      }
      .password-page .modal button.close span.close-text {
        display: none;
      }
      .password-page .modal .modal-dialog {
        max-width: 100%;
        height: 100%;
        margin: 0;
      }
      .password-page .modal.show .modal-dialog {
        -webkit-transition: all 0s ease-in-out 0s;
        -o-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s;
      }
      .password-page .modal .modal-content {
        align-items: center;
        justify-content: center;
        height: 100%;
        border: none;
        border-radius: 0;
      }
      .password-page .modal .modal-body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        min-width: 100%;
        margin: 0 auto;
      }
      @media (max-width: 479px) {
        .password-page .modal button.close {
          top: 15px;
          {% if settings.enable_rtl %}
          left: 15px;
          {% else %}
          right: 15px;
          {% endif %}
        }
        .password-page .modal .modal-body {
          padding: 30px 15px;
        }
      }

      /* modal-password content css */
      .password-page .modal .modal-password {
        min-width: 40%;
      }
      .password-page .modal .modal-password h2 {
        display: block;
        color: var(--font-color-body);
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
      }
      .password-page .modal .modal-password form {
        margin: 27px 0px 0px;
      }
      .password-page .modal .modal-password form .sti-input {
        position: relative;
        overflow: hidden;
        border-radius: var(--sti-border-radius);
      }
      .password-page .modal .modal-password form .sti-input label {
        display: none;
      }
      .password-page .modal .modal-password form .sti-input input {
        width: 100%;
        height: 52px;
      }
      .password-page .modal .modal-password form .sti-input button {
        display: none;
        position: absolute;
        height: 100%;
        {% if settings.enable_rtl %}
        left: 0;
        {% else %}
        right: 0;
        {% endif %}
      }
      .password-page .modal .modal-password form .sti-input button.news-sub {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 18px;
        padding: 13px 40px;
        background-color: var(--font-color-primary);
        text-transform: uppercase;
        font-weight: 400;
        border: 2px solid var(--font-color-primary);
        line-height: 1;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
      }
      .password-page .modal .modal-password form p.input-error-message {
        font-size: 18px;
        margin: 23px 0px -7px;
      }
      .password-page .modal .modal-password form p.input-error-message span.visually-hidden {
        display: none;
      }
      .password-page .modal .modal-password form p.input-error-message span.visually-error {
        display: block;
        font-size: 32px;
        margin-bottom: 11px;
      }
      .password-page .modal .modal-password form p.input-error-message span.visually-error i {
        display: block;
        line-height: 0;
      }
      .password-page .modal .modal-password p.owner-text {
        font-size: 18px;
        margin: 23px 0px 0px;
      }
      .password-page .modal .modal-password p.owner-text a {
        color: var(--font-color-body);
        opacity: 0.6;
        text-decoration: underline;
        -webkit-transition: all 0s ease-in-out 0s;
        -o-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s;
      }
      .password-page .modal .modal-password p.owner-text a:hover {
        color: var(--font-color-header);
        opacity: 1;
      }
      @media (max-width: 1199px) {
        .password-page .modal .modal-password {
          min-width: 65%;
        }
      }
      @media (max-width: 991px) {
        .password-page .modal .modal-password {
          min-width: 90%;
        }
      }
      @media (max-width: 767px) {
        .password-page .modal .modal-password {
          min-width: 100%;
        }
      }
      @media (max-width: 479px) {
        .password-page .modal .modal-password form .sti-input {
          border-radius: 0;
          overflow: visible;
        }
        .password-page .modal .modal-password form .sti-input input {
          text-align: center;
        }
        .password-page .modal .modal-password form .sti-input button {
          display: block;
          position: unset;
          width: 100%;
          margin: 18px auto 0px;
        }
        .password-page .modal .modal-password form .sti-input button.news-sub {
          display: none;
        }
      }

      /* modal-backdrop css */
      .template-password .modal-backdrop {
        background-color: #FFFFFF;
      }
      .template-password .modal-backdrop.show {
        opacity: 1;
      }
    </style>
  </body>
</html>