<section class="contact-service-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="single-service">
          {% for block in section.blocks %}
          <li class="ser-box">
            <div class="ser-block">
              <a class="icon" href="{{ block.settings.ser_url }}">
                {{ block.settings.service_icon }}
              </a>
              <div class="service-text">
                {% if block.settings.service_title != '' %}
                <h6>{{ block.settings.service_title }}</h6>
                {% endif %} 
                <div class="custom-text">
                  {% if block.settings.service_description != '' %}
                  {{ block.settings.service_description }}
                  {% endif %}
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Contact service",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "our_ser_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "our_ser_padding_bottom",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "our_ser_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "our_ser_padding_bottom_ip",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "our_ser_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "our_ser_padding_bottom_xs",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Background Color"
    },
    {
      "type": "color",
      "id": "our_ser_bgcolor",
      "label": "Background Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "our_services",
      "name": "Our Services",
      "settings": [
        {
          "type": "url",
          "id": "ser_url",
          "label": "Icon url"
        },
        {
          "type": "textarea",
          "id": "service_icon",
          "label": "Icon Class",
          "info": "remixicon.com"
        },
        {
          "type": "text",
          "id": "service_title",
          "label": "Service title",
          "default": "Phone numaber"
        },
        {
          "type": "richtext",
          "id": "service_description",
          "label": "Service description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact service"
    }
  ]
}
{% endschema %}
<style>
  .contact-service-area {
    padding-top: {{ section.settings.our_ser_padding_top }}px;
    padding-bottom: {{ section.settings.our_ser_padding_bottom }}px;
    background-color: {{ section.settings.our_ser_bgcolor }};
  }
  @media (max-width: 1199px) {
    .contact-service-area {
      padding-top: {{ section.settings.our_ser_padding_top_ip }}px;
      padding-bottom: {{ section.settings.our_ser_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .contact-service-area {
      padding-top: {{ section.settings.our_ser_padding_top_xs }}px;
      padding-bottom: {{ section.settings.our_ser_padding_bottom_xs }}px;
    }
  }

  /* service css */
  .contact-service-area ul.single-service{
    display: flex;
    flex-wrap: wrap;
    margin: -30px 0 0 -30px;
  }
  .contact-service-area ul.single-service li.ser-box{
    width: calc(33.33% - 30px);
    margin: 30px 0 0 30px;
  }
  .contact-service-area .ser-block {
    display: flex;
    align-items: center;
  }
  .contact-service-area .ser-block .icon{
    font-size: 24px;
    color: var(--font-color-primary);
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--extra-color-body);
  }
  .contact-service-area .ser-block .icon i{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
  }
  .contact-service-area .ser-block .service-text{
    width: calc(100% - 140px);
    {% if settings.enable_rtl %}
    margin-right: 30px;
    {% else %}
    margin-left: 30px;
    {% endif %}
  }
  .contact-service-area .ser-block .service-text h6{
    font-size: 18px;
    font-weight: var(--font-subtitle-weight-body);
  }
  .contact-service-area .ser-block .service-text .custom-text {
    margin-top: 15px;
  }
  @media (max-width: 1199px) {
    .contact-service-area ul.single-service li.ser-box{
      width: calc(50% - 30px);
    }
  }
  @media (max-width: 767px) {
    .contact-service-area ul.single-service{
      margin: -30px 0 0 -15px;
    }
    .contact-service-area ul.single-service li.ser-box{
      width: calc(100% - 15px);
      margin: 30px 0 0 15px;
    }
    .contact-service-area .ser-block .icon{
      height: 80px;
      width: 80px;
    }
    .contact-service-area .ser-block .icon i{
      height: 60px;
      width: 60px;
    }
    .contact-service-area .ser-block .service-text{
      width: calc(100% - 110px);
    }
    .contact-service-area .ser-block .service-text .custom-text {
      margin-top: 10px;
    }
  }
  @media (max-width: 320px) {
    .contact-service-area .ser-block{
      display: block;
      text-align: center;
    }
    .contact-service-area .ser-block .icon{
      margin: 0 auto;
    }
    .contact-service-area .ser-block .service-text{
      width: 100%;
      margin: 15px 0 0 0;
    }
  }
</style>