<div class="password-header">
 {%- if settings.logo_header -%}
  <a href="{{ shop.url }}" class="theme-header-logo">
    {{ settings.logo_header.src | image_url: width: 500 | image_tag:
      loading: 'lazy',
      width: settings.logo_header.width,
      height: settings.logo_header.height,
      class: "img-fluid",
      alt: settings.logo_header.alt | escape }}
  </a>
  {%- else -%}
  <a href="{{ shop.url }}" class="shop-header-name">
    <span>{{ shop.name }}</span>
  </a>
  {%- endif -%}
  <span class="password-coming-soon">{{ section.settings.pwd_heder_soon_title }}</span>
</div>
{% schema %}
{
  "name": "Password Header",
  "settings": [
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "pwd_heder_soon_title",
      "label": "Title",
      "default": "Coming soon"
    }
  ]
}
{% endschema %}
<style>
  a.theme-header-logo img {
    width: {{ settings.logo_header_max_width }}px;
  }
  .password-header span.password-coming-soon{
    display: block;
    color: var(--font-color-body);;
    font-size: 30px;
    margin-top: 19px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 1; 
  }
  @media (max-width: 479px) {
    .password-header span.password-coming-soon{
      font-size: 20px;
      margin-top: 21px;
      letter-spacing: 3px;
    }
  }
</style>
