<div class="password-content section-ptb">
  {% unless shop.password_message == ' ' %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
  {% endunless %}

  {% if section.settings.newsletter_enable %}
  <div class="password-newsletter">
    <div class="password-email">
      {% if section.settings.newsletter_form_heading != ' ' %}
      <p>{{ section.settings.newsletter_form_heading }}</p>
      {% endif %}
      {% if section.settings.newsletter_form_subheading != ' ' %}
      <p>{{ section.settings.newsletter_form_subheading }}</p>
      {% endif %}
    </div>
    {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
    {%- assign formId = 'PasswordNewsletterForm' -%}
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="{{ formId }}-email">{{ 'general.password_page.signup_form_email_label' | t }}</label>
    {%- if form.posted_successfully? -%}
    <p class="form-message form-message--success text-success" tabindex="-1" data-form-status>{{ 'general.password_page.signup_form_success' | t }}</p>
    {%- endif -%}
    {%- if form.errors contains 'email' -%}
    <p id="{{ formId }}-email-error" class="input-error-message text-danger">
      <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
      <span class="visually-error"><i class="ri-alert-line"></i></span>
      <span class="visually-blank">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
    </p>
    {%- endif -%}
    <div class="input-group{% if form.errors %} input-group--error{% endif %}">
      <input type="email" name="contact[email]" id="{{ formId }}-email" class="input-group__field {% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ section.settings.newsletter_placeholder | escape }}"{%- if form.errors contains 'email' -%} aria-invalid="true" aria-describedby="{{ formId }}-email-error" data-form-status{%- endif -%}>
      <button type="submit" name="commit" class="btn-style">{{ section.settings.newsletter_button_text }}</button>
      <button type="submit" name="commit" class="btn-style news-sub">{{ section.settings.newsletter_button_text }}</button>
    </div>
    {% endform %}
  </div>
</div>
{% endif %}
{% schema %}
{
  "name": "Password Content",
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "textarea",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Be the first to know when we launch."
    },
    {
      "type": "textarea",
      "id": "newsletter_form_subheading",
      "label": "Subheading",
      "default": "Promotions, new products and sales. Directly to your inbox."
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter placeholder text",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter button text",
      "default": "Notify me"
    }
  ]
}
{% endschema %}
<style>
  .password-content .password-newsletter .password-email p{
    font-size: 18px;
    margin: 4px 0px 0px 0px;
  }
  .password-content .password-newsletter .password-email p:first-child{
    margin: 0px 0px 0px 0px;
  }
  .password-content .password-newsletter form{
    margin-top: 23px;
  }
  .password-content .password-newsletter form label{
    display: none;
  }
  .password-content .password-newsletter form p.form-message{
    font-size: 18px;
    margin: -7px 0px 23px;
  }
  .password-content .password-newsletter form p.input-error-message{
    font-size: 18px;
    margin: 0px 0px 23px;
  }
  .password-content .password-newsletter form p.input-error-message span.visually-hidden{
    display: none;
  }
  .password-content .password-newsletter form p.input-error-message span.visually-error{
    display: block;
    font-size: 32px;
    margin-bottom: 11px;
  }
  .password-content .password-newsletter form .input-group{
    position: relative;
    border-radius: 0px;
    overflow: hidden;
  }
  .password-content .password-newsletter form .input-group input{
    width: 100%;
    height: 52px;
  }
  .password-content .password-newsletter form .input-group button{
    display: none;
    position: absolute;
    height: 100%;
    {% if settings.enable_rtl %}
    left: 0;
    {% else %}
    right: 0;
    {% endif %}
  }
  .password-content .password-newsletter form .input-group button.news-sub{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 479px) {
    .password-content .password-newsletter form .input-group{
      border-radius: 0;
      overflow: visible;
    }
    .password-content .password-newsletter form .input-group input{
      text-align: center;
    }
    .password-content .password-newsletter form .input-group button{
      display: block;
      position: unset;
      margin: 18px auto 0px;
    }
    .password-content .password-newsletter form .input-group button.news-sub{
      display: none;
    }
  }
</style>
