<section class="privacy-policy2">
  <div class="container">
    <ul class="grid-wrap">
      <li class="grid-wrapper">
        <div class="main-title">
          <div class="section-capture">
            <div class="section-title">
              {% if section.settings.main_title != '' %}
              <h2>{{ section.settings.main_title }}</h2>
              {% endif %}
              {% if section.settings.title_desc != '' %}
              <p>{{ section.settings.title_desc }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </li>
      <li class="grid-wrapper">
        <div class="text-content">
          {% if section.settings.list_desc != '' %}
          <p>{{ section.settings.list_desc }}</p>
          {% endif %}
          {% if section.settings.list_desc2 != '' %}
          <p>{{ section.settings.list_desc2 }}</p>
          {% endif %}
          {% if section.settings.text_button != '' %}
          <a class="btn btn-style" href="{{ section.settings.text_url }}">{{ section.settings.text_button }}</a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</section>
{% schema %}
{
  "name": "Privacy policy 2",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_lg",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_lg",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40
    },
    {
      "type": "header",
      "content": "Page Title"
    },
    {
      "type": "textarea",
      "id": "main_title",
      "label": "Main title",
      "default": "To create a credit card for testing use one of is test card numbers "
    },
    {
      "type": "textarea",
      "id": "title_desc",
      "label": "List description",
      "default": "There are many variations of passages of lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,"
    },
    {
      "type": "textarea",
      "id": "list_desc",
      "label": "List description",
      "default": " It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to  where"
    },
    {
      "type": "textarea",
      "id": "list_desc2",
      "label": "List description",
      "default": " It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to  where"
    },
    {
      "type": "url",
      "id": "text_url",
      "label": "Text url"
    },
    {
      "type": "text",
      "id": "text_button",
      "label": "Text button",
      "default": "See information"
    }
  ],
  "presets": [
    {
      "name": "Privacy policy 2"
    }
  ]
}
{% endschema %}
<style type="text/css">
  .privacy-policy2 {
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
  }
  @media (max-width: 1199px) {
    .privacy-policy2 {
      padding-top: {{ section.settings.section_padding_top_lg }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_lg }}px;
    }
  }
  @media (max-width: 767px) {
    .privacy-policy2 {
      padding-top: {{ section.settings.section_padding_top_xs }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
    }
  }
  .privacy-policy2 ul.grid-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: -30px 0 0 -30px;
  }
  .privacy-policy2 ul.grid-wrap li.grid-wrapper{
    width: calc(50% - 30px);
    margin: 30px 0 0 30px;
  }
  .privacy-policy2 .main-title {
    max-width: 83.33%;
  }
  .privacy-policy2 .main-title .section-capture {
    margin-bottom: 0px;
  }
  .privacy-policy2 .main-title .section-capture .section-title {
    text-align: left;
  }
  .privacy-policy2 .main-title .section-capture .section-title p{
    margin-top: 30px;
  }
  .privacy-policy2 .text-content{
    max-width: 70%;
  }
  .privacy-policy2 .text-content p {
    margin-top: 15px;
  }
  .privacy-policy2 .text-content p:first-of-type{
    margin-top: 0;
  }
  .privacy-policy2 .text-content a {
    margin-top: 30px;
  }
  @media(max-width: 1599px){
    .privacy-policy2 .main-title {
      max-width: 100%;
    }
    .privacy-policy2 .text-content{
      max-width: 100%;
    }
  }
  @media(max-width: 1199px){
    .privacy-policy2 .main-title .section-capture .section-title p,
    .privacy-policy2 .text-content p{
      font-size: 14px;
      line-height: 25px;
      margin-top: 15px;
    }
    .privacy-policy2 .text-content a{
      margin-top: 20px;
    }
  }
  @media(max-width: 767px){
    .privacy-policy2 ul.grid-wrap li.grid-wrapper{
      width: calc(100% - 30px);
    }
  }
</style>